@page "/DeleteUsers"
@model Web.Pages.Admin.Users.ShowDeleteUsersModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "ادمین سایت | مدیریت کاربران";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">لیست کاربران</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel-body">
    <div class="table-responsive">
        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <div class="row">
                <form>
                    <div class="col-sm-5 col-md-5">
                        <input type="text" name="FilterUserName" class="form-control" placeholder="نام کاربری" />
                    </div>
                    <div class="col-sm-5 col-md-5">
                        <input type="text" name="FilterEmail" class="form-control" placeholder="ایمیل" />
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <button type="submit" class="btn btn-outline btn-info">جستجو</button>
                        <a class="btn btn-outline btn-default" href="/Users">رفرش صفحه </a>
                    </div>
                </form>
            </div>
            <div class="col-md-12" style="margin:10px 0;">
                <a href="/CreateUser" class="btn btn-outline btn-success">افزودن شخص جدید</a>
            </div>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>نام کاربری</th>
                        <th>ایمیل</th>
                        <th>وضعیت</th>
                        <th>تاریخ عضویت</th>
                        <th>دستورات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.UserForAdminViewModel.users)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>
                                @if (user.IsActive)
                                {
                                    <p class="text-success">فعال</p>
                                }
                                else
                                {
                                    <p class="text-danger">غیرفعال </p>
                                }
                            </td>
                            <td>@user.RegisterDate</td>
                            <td>
                                <a href="/EditUser/@user.UserId" class="btn btn-outline btn-warning btn-sm">
                                    ویرایش
                                </a>
                                <a href="#" class="btn btn-outline btn-danger btn-sm">
                                    حذف
                                </a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                        <ul class="pagination">
                            @for (int i = 1; i <= Model.UserForAdminViewModel.PageCount; i++)
                            {
                                <li class="paginate_button @((i == Model.UserForAdminViewModel.CurrentPage)?"active":"")" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                                    <a href="/Users?PageId = @i">
                                        @i
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>